<h3>Users</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Username</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= "#{user.first_name} #{user.last_name}" %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users %>
<%#= will_paginate @users, renderer: BootstrapPagination::Rails %>
